<div class="form-container mt-4 mat-elevation-z5">
    <h2>Reset Password</h2>
    <form [formGroup]="passwordForm" class="text-center ">
          <mat-form-field> 
            <input matInput  placeholder="Email address" formControlName="email">
            <mat-error *ngIf="email?.getError('required')">Email is required!</mat-error>
            <mat-error *ngIf="email?.getError('email')">
                Please enter a valid email
            </mat-error>
        </mat-form-field>
       
             <div class="text-center mt-3">
              <button mat-raised-button color="primary" type="submit" 
              [disabled]="!passwordForm.valid" (click)="forgotPassword()">Send Link</button>
          </div>
          <br>
          <span >Don't want to change password?<a  class="link" routerLink="/login">Go back</a></span>
    </form></div>